<!-- <div class="whole">

<div class="spotify__home-container row">
    <div class="spotify__home-container_side-bar col-3">
        <div class="spotify__home-container_playlist-container-item">
            <a>Home</a>
        </div>
        <div class="spotify__home-container_playlist-container-item">
           <a >Search</a> 
        </div>
        <div class="spotify__home-container_playlist-container-item">
            <a >Add Players</a>
        </div>
    </div>
    <div class="spotify__home-container_playlist-container col-9">
       
    </div>
</div>
</div>  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Our Auctionsite</h1>
        <div class="button-container">
            <a href="/buyer" class="button buyer">Buyer</a>
            <a href="/login" class="button buyer" (click)="logout()">Logout</a>
            <!-- <a href="/addplayer" class="button seller">Seller</a> -->
        </div>
    </div>
</body>
</html>
