<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="admin.component.css">
</head>
<body>
    <div class="container">
        <h1 style="color: aqua;;">Welcome to Our Auctionsite </h1>
        <div class="button-container">
            <a href="/descendinf" class="button status">Status</a>
            <a href="/result" class="button result">Result</a>
            <a href="/addplayer" class="button result">Seller</a>
            <a href="/login" class="button result" (click)="logout()">Logout</a>
        </div>
    </div>
</body>
</html>